@font-face {
    font-family: 'GyeonggiMillenniumTitle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Title_Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

body
{
    display: flex;
    margin: 0px;
    padding: 0px;
    background-color: blue;
    color: white;
    font-family: 'GyeonggiMillenniumTitle';
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box-1
{
    font-size: 64px;
}
.box-2
{
    display: flex;
    font-size: 32px;
    justify-content: center;
}