body
{
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'NexonMaplestory';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

.maple-font-1
{
    font-family: 'NexonMaplestory';
    font-size: 64px;
}

.box-1
{
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color: lawngreen;
}